@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato&family=Montserrat:ital,wght@0,200..900;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital@0;1&family=Roboto:wght@400;700&family=Varela+Round&display=swap');
:root{
    --font-family-Montserrat: "Montserrat", serif;
    --font-family-cookie: "Cookie", serif;
    --font-family-Poppins: "Poppins", serif;
    --text-color-light-green: #cfd3bc;
    --text-color-dark-green: #a9ae91;
    --text-color-white: #fff;
    --text-color-black:#212529;
    --bg-color-dark-green: #a9ae91;
    --bg-color-light-green: #cfd3bc;
    --bg-color-black: #212529;
    --bg-color-white: #fff;
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;  
}
/* light to dark mode CSS */
.btn-mode{
  background-color: #fff;
  width: 65px;
  height: 25px;
  border-radius: 10em;
  border: 1px solid #f7f7f7;
  padding: 0 0.5em;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);

  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn-indicator{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}

.btn-icon-container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon{
  color: var(--light-icon-color);
}

/* light to dark mod button animation */
.btn-icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

/* dark mode css */
body.darkmode{
  background-color: var(--dark-color);
  color: var(--light-color) !important;
}

.darkmode .btn-mode{
  border: none;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn-indicator{
  transform: translateX(40px);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.darkmode .btn-icon{
  color: var(--dark-icon-color);
}
.header>div:nth-child(3) button:focus{
    border: none !important;
    box-shadow: none !important;
}
/* .header>div:nth-child(3) button:not(.collapsed){
    background-color: none !important;
} */
.navbar-toggler-icon{
    font-size: 20px !important;
}
.navbar-toggler{
    border: none !important;
}
.btn{
    border: none !important;
}
.modal-content{
    position: relative;
}
.modal-content>button:nth-child(1){
    padding-top: 0 !important;
    position: absolute;
    right: -60px;
    top: -24px;
}
.modal-content>button:nth-child(1) span{
    font-size: 55px;
    color: #fff;
}
.modal-body>div>div:nth-child(1)>div:nth-child(1) h2{
    color: #fff;
}
.modal-body>div>div:nth-child(1){
    border-radius: 2rem;
}
.modal-body>div>div:nth-child(1)>div:nth-child(1){
    border-radius: 1rem;
    text-align: center;
    background-image: url(images/login-logo.png);
    background-size: 180px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: #a9ae91;
    color: #fff;
}
.modal-body>div>div:nth-child(1)>div:nth-child(2) button{
    background-color: #a9ae91;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.custome-nowrap {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
h1{
    font-family: var(--font-family-Poppins);
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    
}
h2{
    font-family: var(--font-family-Poppins);
    text-transform: uppercase;
}
p{
  font-family: var(--font-family-Montserrat);
}
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
.navbar{
    background-color: var(--bg-color-light-green);
    box-shadow: 5px 0 5px #212529,-5px 0 1px #212529;
    /* box-shadow: 0 1px 10px #c9c9c1; */
}
.navbar>div{
    max-width: 1600px !important;   
}
.header>a:nth-child(1) {
    max-width: 165px !important;
}
.header a i{
    font-size: 24px;
}
.header ul li a{
    font-family: var(--font-family-Montserrat);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-color-black);
    
}
.header ul li a:hover{
   color: var(--text-color-white) !important;
}
/* back-to-top */

#back-to-top {
    font-size: 24px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color-dark-green);
    color: #fff;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

#back-to-top:hover {
    background-color: var(--bg-color-light-green);
}
.breadcrumb-item.active{
    color: var(--text-color-dark-green) !important;
}
/* Position the image container (needed to position the left and right arrows) */

/* Hide the images by default */
.mySlides {
    display: none;
}
.cart-img>div:nth-child(1)>div:nth-child(1)>div:nth-child(7)>div,
.cart-img>div:nth-child(1){
    padding: 0 !important;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
.cart-img>div:nth-child(1){
    position: relative;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--text-color-black);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: var(--text-color-white);
    background-color: var(--bg-color-light-green);
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--bg-color-black);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: var(--bg-color-dark-green);
    padding: 2px 16px;
    color: var(--text-color-white);
}
.caption-container p{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 10px 0;
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Six columns side by side */
.column-img {
    float: left;
    width: 25%;
    padding: 0;
}
.img-n{
    padding: 0 12px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
.cart-img>div:nth-child(2)>div{
    flex-direction: column;
}
.cart-img>div:nth-child(2) h6{
    position: relative;
    font-family: var(--font-family-Montserrat);
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
}
.cart-img>div:nth-child(2) h6 del{
    color: var(--bg-color-light-green);
}
.cart-img>div:nth-child(2) h6 span{
    position: absolute;
    font-size: 16px;
    border-radius: 5rem;
    background-color: #f98a8a;
    color: #fff;
    padding: 8px 12px;
}
.cart-img>div:nth-child(2)>div>div:nth-child(2){
    padding: 15px 12px;
    border-bottom: 1px solid var(--bg-color-dark-green);
    border-top: 1px solid var(--bg-color-dark-green);
}
.cart-img>div:nth-child(2)>div>div:nth-child(2)>div{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5rem;
    margin-right: 10px;
    margin-top: 10px;
}
.cart-img>div:nth-child(2)>div>div:nth-child(2)>div:hover{
    box-shadow: 1px 1px 2px #222222,-1px -1px 2px #222222;
}
.cart-img>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(2){
    background-color: #4f4631;
}
.cart-img>div:nth-child(2)>div>div:nth-child(3),
.cart-img>div:nth-child(2)>div>div:nth-child(4){
    padding: 15px 12px;
    border-bottom: 1px solid var(--bg-color-dark-green);
}
.cart-img>div:nth-child(2)>div>div:nth-child(5){
    padding: 15px 12px;
}
.cart-img>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(3){
    background-color: #314f4a;
}
.cart-img>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(4){
    background-color: #31344f;
}

.cart-img>div:nth-child(2)>div>div:nth-child(3) button{
    border-radius: 5rem;
    margin-top: 10px;
    background-color: var(--bg-color-dark-green);
    color: var(--bg-color-white);
    text-transform: capitalize;
    font-weight: bold;
}
.darkmode .cart-img>div:nth-child(2)>div>div:nth-child(3) button:hover{
    box-shadow: 1px 1px 5px #3c402f,-1px -1px 5px #3c402f !important;
}
.cart-img>div:nth-child(2)>div>div:nth-child(3) button:hover{
  background-color: var(--bg-color-black);
}
.darkmode .cart-img>div:nth-child(2)>div>div:nth-child(4) a{
    box-shadow: 1px 1px 5px #3c402f,-1px -1px 5px #3c402f !important;
}
.cart-img>div:nth-child(2)>div>div:nth-child(4) button,
.cart-img>div:nth-child(2)>div>div:nth-child(4) a{
  border-radius: 5rem;
  padding: 12px 25px;
  margin-top: 10px;
  background-color: var(--bg-color-dark-green);
  color: var(--bg-color-white);
  text-transform: capitalize;
  font-weight: bold;
}
.cart-img>div:nth-child(2)>div>div:nth-child(4) a{
  margin-left: 35px;
  padding: 12px 45px;
  background-color: var(--bg-color-black);
}
.cart-img>div:nth-child(2)>div>div:nth-child(5) .input-group{
  width: 60% !important;
}
.cart-img>div:nth-child(2)>div>div:nth-child(5) p small{
    font-size: 13px;
}
.darkmode .cart-img>div:nth-child(2)>div>div:nth-child(5) button{
    color: var(--text-color-white);
}
.cart-img>div:nth-child(2)>div>div:nth-child(5) button{
    border: 1px solid !important;
}
.cart-img>div:nth-child(2)>div>div:nth-child(5) button:hover{
  font-weight: bold;
  background-color: var(--bg-color-dark-green);

}
.details{
    margin-top: 30px;
}
.details>div>div:nth-child(2){
    padding: 25px 0;
    flex-direction: column;
}
.details>div>div>div:nth-child(2)>h5:nth-child(25){
    margin-bottom: 15px;
    
}
.details>div>div>div:nth-child(2)>div:nth-child(26)>div>div p:nth-child(1){
    margin-bottom: 0;
}
.details>div>div>div:nth-child(2)>div:nth-child(26)>div>div{
    border-bottom: 1px solid var(--bg-color-dark-green);
}
.details>div>div>div:nth-child(3) h2 span{
    font-size: 20px;
}
.details>div>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(1) h5{
    font-family: var(--font-family-Poppins);
    font-size: 48px;
}
.details>div>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(1) h5 i{
    font-size: 24px;
}

.details>div>div>div:nth-child(3)>div:nth-child(2)>div:nth-child(2) i{
    color: lightgray;
}

.reviews h5 span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: green !important;
    border-radius: 50rem;
    padding: 0 0 0 3px !important;
}

#myBtnContainer{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2px;
    border-bottom: 2px solid var(--bg-color-light-green);
}
#myBtnContainer button{
    font-weight: bold;
    float: left;
    border-radius: 0;
    font-size: 20px;
    color: var(--text-color-dark-green) !important;
}

#myBtnContainer button:hover,
#myBtnContainer button .active{
    background-color: var(--bg-color-dark-green) !important;
    color: #fff !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
/* .similar{
    position: relative;
    z-index: 1;
} */
.similar .owl-carousel{
    position: relative;
    
}
.similar .owl-prev span{
    position: absolute;
    left: 0;
    top:25%;
    font-size: 80px;
}
.similar .owl-dots{
    display: none;
}
.similar .owl-next span{
    position: absolute;
    right: 0;
    top:25%;
    font-size: 80px;
}
.similar h5{
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
.similar h6{
    font-size: 24px;
}
.footer{
    background-color: var(--bg-color-black);
    padding: 80px 0;
}
.footer p{
    color: var(--text-color-white);
    margin-top: 16px;
}
.footer h3{
    font-family: var(--font-family-Poppins);
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--text-color-white);
}
.footer ul{
    list-style-type: none;
    padding: 0;
}
.footer i{
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color-white);
}
.footer i:hover{
    color: var(--text-color-dark-green);
}
.footer ul li a{
    font-size: 16px;
    font-family: var(--font-family-Poppins);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--text-color-white);
}
.footer ul li a:hover{
    text-decoration: underline;
    color: var(--text-color-dark-green);
}

@media (min-width:576px)and (max-width:768px){
    .header{
        display: grid !important;
    }
    .header>div:nth-child(3) {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        top: 30%;
    }
    .cart-img>div:nth-child(2)>div>div:nth-child(4) button:nth-child(2),
    .cart-img>div:nth-child(2)>div>div:nth-child(4) a{
        margin-left: 0;
    }
    .cart-img>div:nth-child(2)>div>div:nth-child(5) .input-group{
        width: 100% !important;
    }
}
@media (max-width:600px){
    .header{
        display: grid !important; 
    }
    .header>div:nth-child(3) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .header>div:nth-child(4) {
        grid-row: 2/3;
        grid-column: 1/5;
    }
    .header a i{
       font-size: 20px;
    }
    .breadcrumb-item.active{
    color: var(--text-color-dark-green) !important;
}
    .cart-img{
        flex-direction: column;
    }
    .cart-img>div:nth-child(2)>div>div:nth-child(4) button:nth-child(2),
    .cart-img>div:nth-child(2)>div>div:nth-child(4) a{
        margin-left: 0;
    }
    .cart-img>div:nth-child(2)>div>div:nth-child(5) .input-group{
        width: 100% !important;
    }
    .details>div>div>div:nth-child(2)>div:nth-child(2){
        flex-direction: column;
    }
    .progress{
        width: 170px !important;
        height: 6px;
    }
}